@model IEnumerable<WebBanDienThoaiResponsive.ViewModels.ProductViewModel>

<h5 class="mt-md-1"><b>ĐIỆN THOẠI NỔI BẬT NHẤT</b></h5>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 p-md-1">
            <div class="card" style="border-radius: 10px !important;">
                 <a class="text-decoration-none mt-md-3" href="@Url.Action("ProductDetails", "Product", new { Id = item.ID })">
                     <img class="card-img-top" src="~/Content/Images/@item.ImageURL" alt="@item.ProductName">
                 </a>
                <div class="card-body">
                    <a class="text-decoration-none" href="@Url.Action("ProductDetails", "Product", new { Id = item.ID })">
                        <h6 class="card-title">@item.ProductName</h6>
                    </a>
                    <h6 class="card-title font-weight-bold text-danger">@(Convert.ToInt32(item.Price).ToString("#,##")) đ</h6>
                    <h6 class="card-title font-weight-bold"><s>@(Convert.ToInt32(item.Discount).ToString("#,##")) đ</s></h6>
                    <div class="rating">
                        @{
                            double rStar = item.AverageRatingStar;
                            if (rStar == 0)
                            {
                                <i class="fal fa-star text-warning"></i>
                                <i class="fal fa-star text-warning"></i>
                                <i class="fal fa-star text-warning"></i>
                                <i class="fal fa-star text-warning"></i>
                                <i class="fal fa-star text-warning"></i>
                            }
                            else
                            {
                                int i = 0;
                                while (i < 5)
                                {
                                    if (rStar >= 1)
                                    {
                                        <i class="fas fa-star text-warning"></i>
                                        rStar--;
                                    }
                                    else if (rStar >= 0.5)
                                    {
                                        <i class="fas fa-star-half-alt text-warning"></i>
                                        rStar -= 0.5;
                                    }
                                    else
                                    {
                                        <i class="fal fa-star text-warning"></i>
                                    }
                                    ++i;
                                }
                            }
                        }
                        <p class="text-secondary" style="font-size: 11px;">@(item.RatingCount + " Đánh giá")</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>