@model WebBanDienThoaiResponsive.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<div class="container">
    @using (Html.BeginForm("Create", "AdminProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="text-danger">@ViewData["Error"]</div>
        <div class="form-horizontal">
            <h4>Sản phẩm mới</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Nhà cung cấp</label>
                <div class="col-md-10">
                    @Html.DropDownList("SupplierID", new SelectList(ViewBag.Suppliers, "ID", "SupplierName"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Loại sản phẩm</label>
                <div class="col-md-10">
                    @Html.DropDownList("ProductTypeID", new SelectList(ViewBag.ProductTypes, "ID", "ProductTypeName"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Thương hiệu</label>
                <div class="col-md-10">
                    @Html.DropDownList("BrandID", new SelectList(ViewBag.Brands, "ID", "BrandName"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Tên sản phẩm</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Giá gốc</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Giá bán</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Thông số kỹ thuật</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Config, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Config, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Mô tả</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Describe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Describe, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ảnh</label>
                
                <div class="col-md-10">
                    @Html.TextBox("file", "", new { type = "file", @class = "form-control", @value = "Chọn ảnh...", @accept = "image/jpeg, image/jpg" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QuantityInStock, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuantityInStock, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuantityInStock, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo mới" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
        }
    </div>