@using WebBanDienThoaiResponsive.ViewModels
@using PagedList.Mvc
@model PagedList.PagedList<ProductViewModel>

@{
    ViewBag.Title = "SearchData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h5 class="mt-md-1"><b>@ViewBag.ResCount kết quả</b></h5>
    <div class="dropdown" align="right">
        <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            Sắp xếp theo: 
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="@Url.Action("SearchData", "Search", new { @keyword = ViewBag.Keyword, page = 1, @option = 1 })">Giá tăng dần</a>
            <a class="dropdown-item" href="@Url.Action("SearchData", "Search", new { @keyword = ViewBag.Keyword, page = 1, @option = 2 })">Giá giảm dần</a>
            <a class="dropdown-item" href="@Url.Action("SearchData", "Search", new { @keyword = ViewBag.Keyword, page = 1, @option = 3 })">Theo thứ tự A - Z</a>
            <a class="dropdown-item" href="@Url.Action("SearchData", "Search", new { @keyword = ViewBag.Keyword, page = 1, @option = 4 })">Theo thứ tự Z - A</a>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2 p-md-1">
                <div class="card">
                    <a class="text-decoration-none" href="@Url.Action("ProductDetails", "Product", new { Id = item.ID })">
                        <img class="card-img-top" src="~/Content/Images/@item.ImageURL" alt="@item.ProductName">
                    </a>
                    <div class="card-body">
                        <a class="text-decoration-none" href="@Url.Action("ProductDetails", "Product", new { Id = item.ID })">
                            <h6 class="card-title">@item.ProductName</h6>
                        </a>
                        <h6 class="card-title font-weight-bold text-danger">@(Convert.ToInt32(item.Price).ToString("#,##")) đ</h6>
                        <h6 class="card-title font-weight-bold"><s>@(Convert.ToInt32(item.Discount).ToString("#,##")) đ</s></h6>
                        <div class="rating">
                            @{
                                double rStar = item.AverageRatingStar;
                                int i = 0;
                                while (i < 5)
                                {
                                    if (rStar >= 1)
                                    {
                                        <i class="fas fa-star text-warning"></i>
                                        rStar--;
                                    }
                                    else if (rStar >= 0.5)
                                    {
                                        <i class="fas fa-star-half-alt text-warning"></i>
                                        rStar -= 0.5;
                                    }
                                    else
                                    {
                                        <i class="fal fa-star text-warning"></i>
                                    }
                                    ++i;
                                }
                            }
                        </div>
                        <p class="text-secondary" style="font-size: 11px;">@(item.RatingCount + " Đánh giá")</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav>
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item"><a class="page-link" href="@Url.Action("SearchData", "Search", new { page = 1, option = ViewBag.Option })">1</a></li>
            @for (int i = 2; i <= Model.PageCount; ++i)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("SearchData", "Search", new { @keyword = ViewBag.Keyword, page = i, option = ViewBag.Option })">@i</a></li>
            }
        </ul>
    </nav>
</div>