<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugins/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    <title>Web bán điện thoại</title>
</head>

@functions {
    public static string GetData(string keyword)
    {
        using (var context = new Context())
        {
            bool isExist = context.WebInfoes.Any(p => p.Keyword == keyword);
            if (isExist)
            {
                return context.WebInfoes.Single(p => p.Keyword == keyword).Value;
            }
            else
            {
                return "";
            }
        }
    }
}

<body>
    <div class="grid-container">
        <header>
            <!--Navigation-->
            <div class="container-fluid bg-header">
                <div class="container bg-header">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="@string.Concat("/Content/", GetData("HeaderLogo"))" alt="Logo" width="125" />
                        </a>

                        <div class="form-inline">
                            @using (Html.BeginForm("SearchData", "Search"))
                            {
                                <input class="form-control" placeholder="Bạn tìm gì..." name="keyword" />
                                <button class="btn btn-outline-success my-2 my-sm-0"
                                        type="submit">
                                    <i class="icon_search far fa-search"></i>
                                </button>
                            }
                        </div>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav float-md-right">
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                                        <i class="fas fa-home"></i>&nbsp;Trang chủ <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index", "Product")">
                                        <i class="fas fa-mobile-alt"></i>&nbsp;Sản phẩm
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index", "AboutUs")">
                                        <i class="fas fa-info"></i>&nbsp;Về chúng tôi
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("SendContact", "Contact")">
                                        <i class="fas fa-address-card"></i>&nbsp;Liên hệ
                                    </a>
                                </li>

                                @if (Session["Account"] == null)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-user"></i>&nbsp;Tài khoản
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Signin", "Account")">Đăng Nhập</a>
                                            <a class="dropdown-item" href="@Url.Action("Signup", "Account")">Đăng Ký</a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown">
                                        @using WebBanDienThoaiResponsive.Models;
                                        @{
                                            MemberAccount account = (Session["Account"] as MemberAccount);
                                            string[] nameSplit = account.FullName.Split(' ');
                                            string Name = nameSplit[nameSplit.Length - 1];
                                        }
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-user"></i>&nbsp;Hi,&nbsp;@Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("AccountDetail", "Account")">Thông tin tài khoản</a>
                                            <a class="dropdown-item" href="@Url.Action("Signout", "Account")">Đăng Xuất</a>
                                        </div>
                                    </li>
                                }

                                @using WebBanDienThoaiResponsive.ViewModels;
                                @{
                                    List<ShoppingCartViewModel> CartList = Session["Cart"] as List<ShoppingCartViewModel>;
                                    int CartQuantity = 0;
                                    if (CartList == null)
                                    {
                                        CartQuantity = 0;
                                    }
                                    else
                                    {
                                        CartQuantity = CartList.Count;
                                    }
                                }
                                <li>
                                    <a href="@Url.Action("Index", "ShoppingCart")" style="position: relative;">
                                        <img src="~/Content/Images/cart.png" alt="Cart" width="30" height="30" style="position: absolute;">
                                        <span class="badge badge-danger" style="position: relative; margin-left: 15px;">@CartQuantity</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer class="bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="@string.Concat("/Content/", GetData("FooterLogo"))" alt="Logo" width="125" />
                        </a>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-3">
                        <h5 class="text-center text-light font-weight-bold text-uppercase">Liên hệ</h5>
                        <a href="@string.Concat("tel:", @GetData("PhoneContact"))" class="m-md-0 text-decoration-none"><h6 class="text-center text-light">@GetData("PhoneContact")</h6></a>
                        <a href="@string.Concat("mailto:", @GetData("AdminEmail"))" class="m-md-0 text-decoration-none"><h6 class="text-center text-light">@GetData("AdminEmail")</h6></a>
                        <a href="@string.Concat("mailto:", @GetData("SupportEmail"))" class="m-md-0 text-decoration-none"><h6 class="text-center text-light">@GetData("SupportEmail")</h6></a>
                    </div>
                    <div class="col-md-3">
                        <h5 class="text-center text-light font-weight-bold text-uppercase">Theo dõi chúng tôi</h5>
                        <a href="@GetData("Facebook")" class="m-md-0 text-decoration-none"><h6 class="text-center text-light">Facebook</h6></a>
                        <a href="@GetData("Instagram")" class="m-md-0 text-decoration-none"><h6 class="text-center text-light">Instagram</h6></a>
                        <a href="@GetData("Youtube")" class="m-md-0 text-decoration-none"><h6 class="text-center text-light">Youtube</h6></a>
                        <a href="@GetData("Tiktok")" class="m-md-0 text-decoration-none"><h6 class="text-center text-light">Tiktok</h6></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
@RenderSection("scripts", false)
</html>
