@using WebBanDienThoaiResponsive.Models
@using WebBanDienThoaiResponsive.ViewModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="button"
                    class="btn btn-info"
                    onclick="location.href='@ViewBag.ReturnURL'">
                Trở lại
            </button>
            <div class="rounded border border-1 pt-md-3 pl-md-3 pr-md-3 pb-md-1 mb-md-2">
                <h4 class="text-center font-weight-bold text-primary">Thông tin đơn hàng</h4>
                <div class="row m-md-1">
                    <div class="col-md-4">
                        <p class="font-weight-bold">Mã đơn hàng</p>
                        <p class="font-weight-bold">Ngày đặt</p>
                        <p class="font-weight-bold">Ngày giao dự kiến</p>
                        <p class="font-weight-bold">Người nhận</p>
                        <p class="font-weight-bold">Địa chỉ nhận</p>
                        <p class="font-weight-bold">Số điện thoại nhận</p>
                        <p class="font-weight-bold">Tổng tiền</p>
                        <p class="font-weight-bold">Hình thức thanh toán</p>
                        <p class="font-weight-bold">Ghi chú</p>
                    </div>
                    <div class="col-md-8">
                        @{
                            Order order = ViewBag.Order as Order;
                        }
                        <p>@order.ID</p>
                        <p>@order.OrderDate</p>
                        <p>@order.DeliveryDate</p>
                        <p>@order.OrderName</p>
                        <p>@order.OrderAddress</p>
                        <p>@order.OrderPhone</p>
                        <p>@order.Total</p>
                        <p>@(Convert.ToBoolean(order.IsPaid) ? "Thanh toán trực tuyến" : "Thanh toán khi nhận hàng")</p>
                        <p>@(order.Note == null ? "" : order.Note)</p>
                    </div>
                </div>
            </div>
            <div class="rounded border border-1 pt-md-3 pl-md-3 pr-md-3 pb-md-1 mb-md-2">
                <h6 class="text-center font-weight-bold text-secondary text-uppercase">Chi tiểt các món đã đặt</h6>
                @{
                    List<OrderDetailsViewModel> list = ViewBag.OrderDetailList as List<OrderDetailsViewModel>;
                }
                @foreach (var item in list)
                {
                    <div class="row m-md-1">
                        <div class="col-md-2">
                            <img src="~/Content/Images/@item.ImageURL" width="50" alt="@item.ProductName" />
                        </div>
                        <div class="col-md-7">
                            <p class="font-weight-bold">@item.ProductName</p>
                        </div>
                        <div class="col-md-3">
                            <div class="d-md-flex">
                                <p>Số lượng:&nbsp;</p>
                                <p class="font-weight-bold">@item.Quantity</p>
                            </div>
                        </div>
                    </div>
                }
            </div>            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>