@model IEnumerable<WebBanDienThoaiResponsive.ViewModels.OrderDetailsViewModel>
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4><b>Đánh giá sản phẩm</b></h4>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row rounded border border-danger p-md-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <img src="~/Content/Images/@item.ImageURL" width="50" alt="@item.ProductName" />
                    </div>
                    <div class="col-md-10">
                        <h4 class="font-weight-bold">@item.ProductName</h4>
                    </div>
                    <div class="w-100">
                        @if (item.RatingStar != 0 && item.Content != null)
                        {
                            <div class="d-md-flex justify-content-center">
                                <div>
                                    @{
                                        int i = 0;
                                        for (i = 1; i <= item.RatingStar; ++i)
                                        {
                                            <i class="fas fa-star text-warning" style="font-size: 28px;"></i>
                                        }
                                        for (int j = i; j <= 5; ++j)
                                        {
                                            <i class="fal fa-star text-warning" style="font-size: 28px;"></i>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="d-md-flex justify-content-center">
                                <div class="w-100 row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <h5>Đánh giá</h5>
                                        <textarea class="w-100" style="resize: none;" disabled>@item.Content</textarea>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm("SendReviews", "Account", new { @orderId = item.OrderId, productId = item.ProductId, CurrentURL = Request.Url.ToString() }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="d-md-flex justify-content-center">
                                    <div onmouseout="CRateSelected('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")')">
                                        <i id="@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")1" onmouseout="CRateOut('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 1)" onmouseover="CRateOver('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 1)" onclick="CRateClick('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 1)" class="fal fa-star text-warning" style="font-size: 28px;"></i>
                                        <i id="@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")2" onmouseout="CRateOut('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 2)" onmouseover="CRateOver('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 2)" onclick="CRateClick('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 2)" class="fal fa-star text-warning" style="font-size: 28px;"></i>
                                        <i id="@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")3" onmouseout="CRateOut('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 3)" onmouseover="CRateOver('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 3)" onclick="CRateClick('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 3)" class="fal fa-star text-warning" style="font-size: 28px;"></i>
                                        <i id="@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")4" onmouseout="CRateOut('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 4)" onmouseover="CRateOver('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 4)" onclick="CRateClick('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 4)" class="fal fa-star text-warning" style="font-size: 28px;"></i>
                                        <i id="@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")5" onmouseout="CRateOut('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 5)" onmouseover="CRateOver('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 5)" onclick="CRateClick('@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")', 5)" class="fal fa-star text-warning" style="font-size: 28px;"></i>
                                    </div>
                                    <div>
                                        <input type="hidden" value="1" name="rating" id="@item.ProductName.Replace(" ", "").Replace("/", "").Replace("+", "")" />
                                    </div>
                                </div>
                                <div class="d-md-flex justify-content-center">
                                    <div class="w-100 row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <h5>Đánh giá</h5>
                                            <textarea class="w-100" name="content" rows="3" style="resize: none;"></textarea>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="d-md-flex justify-content-center">
                                    <button type="submit" class="btn btn-success">Gửi đánh giá</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    }
</div>

<script type="text/javascript">
    function CRateOut(ProductName, rating) {
        for (let i = 1; i <= rating; ++i) {
            $("#" + ProductName + i).removeClass("fas fa-star text-warning").addClass("fal fa-star text-warning");
        }
    }

    function CRateOver(ProductName, rating) {
        for (let i = 1; i <= rating; ++i) {
            $("#" + ProductName + i).removeClass("fal fa-star text-warning").addClass("fas fa-star text-warning");
        }
    }

    function CRateClick(ProductName, rating) {
        $("#" + ProductName).val(rating);
        for (let i = 1; i <= rating; ++i) {
            $("#" + ProductName + i).removeClass("fal fa-star text-warning").addClass("fas fa-star text-warning");
        }
        for (let i = 1; i <= 5; ++i) {
            $("#" + ProductName + i).removeClass("fas fa-star text-warning").addClass("fal fa-star text-warning");
        }
    }

    function CRateSelected(ProductName) {
        let rating = $("#" + ProductName).val();
        for (var i = 1; i <= rating; ++i) {
            $("#" + ProductName + i).removeClass("fal fa-star text-warning").addClass("fas fa-star text-warning");
        }                                                                                                                            
    }
</script>