@model IEnumerable<WebBanDienThoaiResponsive.Models.Banner>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

<h2>Banner</h2>

<div class="container-fluid bg-gray-light">
    <a href="#" class="btn btn-success text-uppercase mb-md-1">Create</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Tên Banner</th>
                <th scope="col">Đường dẫn ảnh</th>
                <th scope="col">Đường dẫn đến bài viết</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.ID</td>
                        <td>@Truncate(item.BannerName, 30)</td>
                        <td>@Truncate(item.ImageURL, 30)</td>
                        <td>@Truncate(item.LinkTo, 30)</td>
                        <td>
                            @if (item.Status == true)
                            {
                                <p style="border: 1px solid; border-radius: 8px; display: flex; justify-content: center; align-items: center;"
                                   class="bg-success text-bold">
                                    Đang sử dụng
                                </p>
                            }
                            else
                            {
                                <p style="border: 1px solid; border-radius: 8px; display: flex; justify-content: center; align-items: center;"
                                   class="bg-danger text-bold">
                                    Bị gỡ
                                </p>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Update", "AdminBanner", new { Id = item.ID })" class="btn btn-warning text-uppercase">Update</a>
                            @if (item.Status == true)
                            {
                                <a href="@Url.Action("Diable", "AdminBanner", new { Id = item.ID, CurrentURL = Request.Url.ToString() })" class="btn btn-primary text-uppercase">Selling</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Diable", "AdminBanner", new { Id = item.ID, CurrentURL = Request.Url.ToString() })" class="btn btn-danger text-uppercase">Disabled</a>
                            }
                        </td>
                    </tr>
                    ++i;
                }
            }

        </tbody>
    </table>
</div>